@{
    ViewData["Title"] = "Product Page";
}
<h1>@ViewData["Title"]</h1>

<h3>Title: @Model.Title</h3>
<p>Id: @Model.Id</p>
<h4>Title: @Model.Description</h3>
<h4>Author: @Model.Author.FirstName @Model.Author.LastName</h3>