@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Graph QL</h1>
    <p>Consuming a GraphQL API with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        @{
            foreach(var book in Model)
            {
                <div class="card mb-4 shadow-sm" style="min-width: 350px;">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">
                            <a class="btn btn-link" asp-controller="home"
                                asp-action="GetBook" asp-route-id="@book.Id">Product</a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">@book.Title</h1>
                        <small>@book.Id</small>
                        <p>@book.Description</p>
                        <p>@book.Author.FirstName @book.Author.LastName</p>
                    </div>
                </div>
            }
        }
    </div>
</div>